.damir{
    background: #ffffff;
}

#editorHTML {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height:300px;
    border: 5px solid rgba(50, 66, 128, 0.5);
}

#editorJS {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height:300px;
    border: 5px solid rgba(50, 66, 128, 0.5);
    margin-top: 10px;
}

.browser {
    box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(191, 191, 191, 0.25);
}

iframe {
    height: 345px;
    width: 100%;
    border: none;
    background-color: #ffffff;
}