#editorHTML {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height:389px;
    box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(191, 191, 191, 0.25);
}

#editorJS {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height:400px;
    margin-top: 20px;
    box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(191, 191, 191, 0.25);
}

.browser {
    box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(191, 191, 191, 0.25);
}

#result,
#sample,
#difference,
#goggi{
    height: 345px;
    width: 100%;
    border: none;
    background-color: #ffffff;
}

.progress{
    height: 15px;
    width: 200px;
    float: right;
    position: relative;
    top: 8px;
    right: 15px;
}

.nav-tabs>li.not-left-border>a,
.nav-tabs>li.not-left-border>a:focus,
.nav-tabs>li.not-left-border>a:hover{
    border-left-color: transparent;
}

.progress-bar{
    transition: width 2s, background-color 2s;
}